<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:insert="fragments/head :: MenuContent"></head>
<body>

	<form name="registration" th:action="@{/reg}" th:object="${user}"
		method="post" class="form-signin">
		<div>
			<label> User Name : <input type="text" name="username"
				th:field="*{username}" />
			</label>
		</div>
		<div>
			<label> Password: <input type="password" name="password"
				th:field="*{password}" />
			</label>
		</div>
		<div>
			<label> Full Name : <input type="text" name="fullname"
				th:field="*{fullname}" />
			</label>
		</div>
		<div>
			<label> Email : <input type="text" name="email"
				th:field="*{email}" />
			</label>
		</div>
		<div>
			<label for="cars">Choose a Role:</label> 
			<select id="cars" name="roleList"form="carform">
				<option value="2">Diak</option>
				<option value="3">Szülő</option>
				</select>
		</div>
		<div>

			<input type="submit" value="Sign In" />
		</div>
	</form>
</body>
</html>